.dashboarddeposit-container{

    margin-top: 20px;

    .field-error{
        max-width: 300px;
    
        margin-top: 5px;
    
        padding: 2px;
        padding-left: 5px;
    
        display: flex;
        flex-direction: row;
    
        font-family: Inter;
        font-weight: 600;
        font-size: 14px;
        color: #ff3c3c;
        
        border-radius: 5px;
        
        .field-error-svg{        
            svg{
                margin-right: 5px;
                font-weight: 600;
                font-size: 14px;
            }
        }
        
    }

    .field-sucess{
        max-width: 300px;
    
        margin-top: 5px;
    
        padding: 2px;
        padding-left: 5px;
    
        display: flex;
        flex-direction: row;
    
        font-family: Inter;
        font-weight: 600;
        font-size: 14px;
        color: #01ca30;
        
        border-radius: 5px;
        
        .field-sucess-svg{        
            svg{
                margin-right: 5px;
                font-weight: 600;
                font-size: 14px;
            }
        }
    }

    .dashboarddeposit-grid{
        width: 100%;

        display: flex;
        flex-direction: column;

        padding: 40px;
        margin-bottom: 40px;
    
        border-radius: 5px;
        margin-bottom: 20px;

        background-color: #ffffff;

        h2{
            font-family: Inter;
            font-weight: 600;
            color: #000000;
            font-size: 20px;
            margin-bottom: 10px;
            margin-top: 20px;
        }
        h4{
            font-family: Inter;
            font-weight: 600;
            color: #000000;
            font-size: 20px;
            margin-bottom: 5px;
        }
        .dashboarddeposit-grid-button{
            margin-top: 20px;
            
            .dashboarddeposit-grid-button-btn{
                margin-right: 10px;
                margin-bottom: 10px;
                :hover{
                    cursor: pointer;
                }
                width: 100%;
                max-width: 300px;
                height: 50px;
    
                font-family: Inter;
                font-weight: 600;
                font-size: 15px;
                color: #000;
    
                border-radius: 5px;
                border: none;
                background-color: #e5e5e5;
            }
            .dashboarddeposit-grid-button-confirm-enabled{
                :hover{
                    cursor: pointer;
                }
                    width: 100%;
                    max-width: 300px;
                    height: 50px;
        
                    font-family: Inter;
                    font-weight: 600;
                    font-size: 15px;
                    color: #000;
        
                    border-radius: 5px;
                    border: none;
                    background-color: #01ca30;
            }
            .dashboarddeposit-grid-button-confirm-disabled{
                :hover{
                    cursor: pointer;
                }
                    width: 100%;
                    max-width: 300px;
                    height: 50px;
        
                    font-family: Inter;
                    font-weight: 600;
                    font-size: 15px;
                    color: #000;
        
                    border-radius: 5px;
                    border: none;
                    background-color: #c2c2c2;
            }
        }
    }
}

@media screen and (max-width: 520px) {
    .dashboarddeposit-container{
        display: flex;
        align-items: center;
    }
}

* {
    scrollbar-width: auto;
    scrollbar-color: #a3a3a3 #ffffff;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #a3a3a3;
    border-radius: 10px;
    border: 3px solid #ffffff;
}